body{
    background-color: wheat;
    color: #c1121f;
}
.heading{
    font-size: 30px;
    width: 100%;
}
.name_of_objects{
    width: 100%;
    border-radius: 20px;
    border: 2px solid #c1121f;
}
#camera,#result{
    width: 350px;
    height: 350px;
    border: 2px solid #c1121f;
    border-radius: 25px;
}
#captured_image{
    width: 345px;
    height: 345px;
    border-radius: 25px;
}